node_modules
npm-debug.log
.DS_Store
.git
.gitignore
vendor
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
.env
.env.*
.idea
.vscode
coverage
public/hot
public/storage
**/.vite
**/.cache
